<div class="container-fluid text-bg-light p-4">
    <h5>Chi Tiết Nhân viên</h5>
    <div class="row mt-4">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h2>Nhân viên</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="{{employee.info.avatar}}" class="img-fluid rounded-circle" alt="Avatar">
              </div>
              <div class="col-md-8">
                <h2>Thông tin chi tiết nhân viên</h2>
                <p><strong>Id:</strong> {{ employee.id }}</p>
                <p><strong>Tên đăng nhập:</strong> {{ employee.info.username }}</p>
                <p><strong>Họ:</strong> {{ employee.info.first_name }}</p>
                <p><strong>Tên:</strong> {{ employee.info.last_name }}</p>
                <p><strong>Ngày sinh:</strong> {{ employee.info.birth_day }}</p>
                <p><strong>Email:</strong> {{ employee.info.email }}</p>
                <p><strong>Số điện thoại:</strong> {{ employee.info.phone }}</p>
                <p><strong>Lương:</strong> {{ employee.salary }}</p>
                <p><strong>Địa chỉ:</strong> {{ employee.address.name }}</p>
                <p><strong>Ngày tạo:</strong> {{ employee.created_at }}</p>
                <p><strong>Ngày cập nhật:</strong> {{ employee.updated_at }}</p>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  
  