<div class="container-fluid text-bg-light">
    <div id="cart">
      <div class="bg-white">
        <h3 class="title-h3 cart-title"> Giỏ hàng [1]</h3>
        <div class="cart-container px-4">
          <div class="heading">
            <h4 class="float-start col-2">Hình</h4>
            <h4 class="float-start col-3">Sản phẩm</h4>
            <h4 class="float-start col-2">Đơn giá</h4>
            <h4 class="float-start col-2">Số lượng</h4>
            <h4 class="float-start col-2">Thành tiền</h4>
            <h4 class="float-start col-1">Xóa</h4>
          </div>
          <div class="cart-product">
            <div class="col-2 c1">
              <img src="//product.hstatic.net/200000019898/product/48647_laptop_dell_xps_13_9340_71034922__2__6c25e8f8b5c84d119e0cd5127ab89893_master.jpeg" alt="Máy tính xách tay Dell XPS 13 9340">
            </div>
            <div class="col-3 c2">Máy tính xách tay Dell XPS 13 9340</div>
            <div class="col-2 c3">49,990,000₫</div>
            <div class="col-2 c4">
              <button class="minus-btn"><i class=" fa fa-minus"></i></button>
              <input type="number" value="1" min="1" max="10" class="quantity-selector">
              <button class="plus-btn "><i class=" fa fa-plus"></i></button>
            </div>
            <div class="col-2 c5">49,990,000₫</div>
            <div class="col-1 c6">
              <i class="fa fa-trash"></i>
            </div>
          </div>
          <div class="total">
            <h4 class="total-h">Tổng cộng</h4>
            <span class="total-money fw-medium fs-4">240.000đ</span>
          </div>
          <div class="cart-btn">
            <button  title="Đặt hàng" type="button" routerLink="order" >Tiến hành thanh toán</button>
            <button  title="Chọn tiếp" type="button" routerLink="list-product">Tiếp tục chọn hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>