<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #0378cd !important;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <h1 class="logo">
          <img src="./assets/logo.png" alt="DELL" width="100px" height="85px">
        </h1>
      </a> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light fw-medium" aria-current="page" href="#">TRANG CHỦ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              SẢN PHẨM
              <i class="fa-solid fa-chevron-down" style="font-size: 13px;"></i>
            </a>
            <div class="dropdown-content">
              <div class="menu-content row container">
                <div class="col-3 menu_pt" style="border-right: 1px solid #dee2e6; padding-right: 0;">
                  <div class="menu_list list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action menu__link" id="list-item-list" data-bs-toggle="list" href="#list-item" aria-controls="list-item">
                      THEO SẢN PHẨM
                    </a>
                    <a class="list-group-item list-group-item-action menu__link" id="list-nc-list" data-bs-toggle="list" href="#list-nc" aria-controls="list-nc">
                      THEO NHU CẦU
                    </a>
                    <a class="list-group-item list-group-item-action menu__link" id="list-gt-list" data-bs-toggle="list" href="#list-gt" aria-controls="list-dt">
                      THEO GIÁ TIỀN
                    </a>
                  </div>
                </div>
                <div class="col-6 menu_pt" style="border-right: 1px solid #dee2e6;">
                  <div class="tab-content" id="nav-tab-content">
                    <div class="tab-pane fade show active" id="list-item" role="tabpanel" aria-labelledby="list-item-list">
                      <ul class="row">
                        <li class="menu__item col-6">
                          <a href="" class="menu__link">LAPTOP</a>
                          <ul class="menu__list">
                            <li class="menu__item">
                              <a href="" class="menu__link">Inspiron</a>
                            </li>
                            <li class="menu__item">
                              <a href="" class="menu__link">Vostro</a>
                            </li>
                            <li class="menu__item">
                              <a href="" class="menu__link">G-Series</a>
                            </li>
                            <li class="menu__item">
                              <a href="" class="menu__link">XPS</a>
                            </li>
                          </ul>
                        </li>
                        <li class="menu__item col-6">
                          <a href="" class="menu__link">PHỤ KIỆN</a>
                          <ul class="menu__list">
                            <li class="menu__item">
                              <a href="" class="menu__link">Chuột, Phím</a>
                            </li>
                            <li class="menu__item">
                              <a href="" class="menu__link">Phụ kiện màn hình</a>
                            </li>
                            <li class="menu__item">
                              <a href="" class="menu__link">Kết nối</a>
                            </li>
                            <li class="menu__item">
                              <a href="" class="menu__link">Balo, Túi xách</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="list-nc" role="tabpanel" aria-labelledby="list-nc-list">
                      <ul class="row">
                        <li class="menu__item col-6 nc">
                          <a href="/" class="menu__link">Thiết kế đồ hoạ</a>
                          <div class="menu__img nc">
                            <a href="">
                              <img class="lazyload" src="./assets/category_item_1.webp" alt="Thiết kế đồ hoạ">
                            </a>
                          </div>
                        </li>
                        <li class="menu__item col-6 nc">
                          <a href="/" class="menu__link">Văn phòng, học tập</a>
                          <div class="menu__img nc">
                            <a href="">
                              <img class="lazyload" src="./assets/category_item_2.webp" alt="Văn phòng, học tập">
                            </a>
                          </div>
                        </li>
                        <li class="menu__item col-6 nc">
                          <a href="/" class="menu__link">Gaming</a>
                          <div class="menu__img nc">
                            <a href="">
                              <img class="lazyload" src="./assets/category_item_3.webp" alt="Gaming">
                            </a>
                          </div>
                        </li>
                        <li class="menu__item col-6 nc">
                          <a href="/" class="menu__link">Mỏng nhẹ, cao cấp</a>
                          <div class="menu__img nc">
                            <a href="">
                              <img class="lazyload" src="./assets/category_item_4.webp" alt="Mỏng nhẹ, cao cấp">
                            </a>
                          </div>
  
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="list-gt" role="tabpanel" aria-labelledby="list-gt-list">
                      <ul>
                        <li class="menu__item gt">
                          <a href="" class="menu__link">Dưới 15.000.000 đ</a>
                        </li>
                        <li class="menu__item gt">
                          <a href="" class="menu__link">15.000.000 đ - 20.000.000 đ</a>
                        </li>
                        <li class="menu__item gt">
                          <a href="" class="menu__link">20.000.000 đ - 30.000.000 đ</a>
                        </li>
                        <li class="menu__item gt">
                          <a href="" class="menu__link">30.000.000 đ - 40.000.000 đ</a>
                        </li>
                        <li class="menu__item gt">
                          <a href="" class="menu__link">Trên 40.000.000 đ</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-3 menu_pt">
                  <ul class="menu__list">
                    <li class="menu__item">
                      <span>HOTLINE TƯ VẤN</span>
                      <a class="hotline" href="tel:1800282848">1800 2828 48</a>
                    </li>
                    <li class="menu__item">
                      <span>HOTLINE BẢO HÀNH</span>
                      <a class="hotline" href="tel:18004851">1800 4851</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">GIỚI THIỆU</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              LIÊN HỆ
              <i class="fa-solid fa-chevron-down" style="font-size: 13px;"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Thông tin kỹ thuật - Bảo hành</a></li>
              <li><a class="dropdown-item" href="#">Danh sách đại lý quyền lợi </a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav-right ">
        <div class="nav-search">
          <a class="nav-icon text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-magnifying-glass" style="font-size: 18px;"></i>
          </a>
          <div class="tab_search ">
            <div class="menu_search dropdown-menu">
              <h5> Tìm kiếm</h5>
              <form class="d-flex ultimate-search" role="search">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                  <i class="fa-solid fa-magnifying-glass" style="font-size: 18px;"></i>
                </button>
              </form>
            </div>
          </div>
  
        </div>
        <div class="nav-account">
          <a class="nav-icon text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user" style="font-size: 18px;"></i>
          </a>
          <div class="tab_account">
            <div class="menu_account dropdown-menu">
              <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                <button type="button" class="btn dropdown-item ">Khách Hàng A</button>
                <button type="button" class="btn dropdown-item ">Thông tin cá nhân</button>
                <button type="button" class="btn dropdown-item" routerLink="/auth/login">Đăng nhập</button>
                <button type="button" class="btn dropdown-item " (click)="onLogout()">Đăng xuất</button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-cart">
          <a class="nav-icon text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-cart-shopping position-relative" style="font-size: 18px;">
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 12px;">0</span>
            </i>
          </a>
          <div class="tab-cart">
            <div class="menu_cart dropdown-menu">
              <p class="title">Giỏ hàng</p>
              <div class="cart-view-area">
                <div class="cart-scroll">
                  <div id="cart-view" class="cart-view-style">
                    <p class="">Hiện chưa có sản phẩm</p>
                  </div>
                </div>
                <span class="line"></span>
                <table class="table-total">
                  <tbody><tr>
                    <td class="text-left">TỔNG TIỀN:</td>
                    <td class="text-right" id="total-view-cart">0₫</td>
                  </tr>
                  <tr>
                    <td class="btn-cart"><a href="" class="linktocart button">Xem giỏ hàng</a></td>
                    <td class="btn-cart"><a href="" class="linkcontinue button">Tiếp tục mua hàng</a></td>
                  </tr>
                  </tbody></table>
              </div>
            </div>
          </div>
  
        </div>
      </div> 
    </div>
  </nav>
