<table class="table caption-top align-middle table-bordered">
    <caption class="text-primary fs-3 text">
      <h3 class="col-6">Danh sách bình luận sản phẩm</h3>
      <div>
        <form class=" col-6 form-inline">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </form>
      </div>
  
    </caption>
    <thead class="table-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Sản phẩm</th>
      <th class="col-4">Nội dung</th>
      <th scope="col">Ngày tạo</th>
      <th scope="col">Đánh giá</th>
      <th scope="col">Nhân viên</th>
      <th scope="col">Sửa</th>
      <th scope="col">Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr >
      <th scope="row">1</th>
      <td><a class="nav-link" title="Ấn vào để xem chi tiết" routerLink="detail_employee">Chuột Filco FS</a></td>
      <td>Chuột sử dụng ổn định</td>
      <td>21/05/2024</td>
      <td>4.9</td>
      <td>Nhân Viên A</td>
      <td>
        <button type="button" class="btn">
          <i class="fa-solid fa-pen-to-square text-primary"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn">
          <i class="fa-solid fa-trash text-danger"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  
  
  