body{
    min-height: 100%;
    place-items: center;
  }
  
  .wrapper {
    position: relative;
  
    .main-header {
      border-bottom: 1px solid #dee2e6;
      z-index: 10;
      transition: margin-left .3s ease-in-out;
      margin-left: 250px;
  
      .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row;
  
        .dropdown {
          position: unset;
  
          .dropdown-menu {
            left: 81%;
            width: 18%;
            margin-top: 0;
            border-radius: 0;
          }
        }
      }
      .nav-item {
  
        .nav-link {
          color: rgba(0, 0, 0, .5);
          padding-right: 1rem;
          padding-left: 1rem;
          height: 2.5rem;
          position: relative;
        }
  
        .navbar-search-block {
          position: absolute;
          padding: 0 1rem;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 10;
          display: none;
          justify-content: center;
          flex-direction: column;
          background-color: initial;
  
          .navbar-search-open {
            display: flex;
          }
  
          .form-inline {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
          }
  
          .input-group {
            width: 100%;
  
            .form-control {
              background-color: #f5f5f5;
              border-color: #e8e8e8;
              color: rgba(52, 58, 64, .8);
              height: calc(1.8125rem + 2px);
              padding: .25rem .5rem;
              font-size: .875rem;
              line-height: 1.5;
              border-radius: 0;
              position: relative;
              flex: 1 1 auto;
              width: 1%;
              min-width: 0;
              margin-bottom: 0;
              box-shadow: inset 0 0 0 transparent;
            }
  
            .form-control-navbar {
              background-color: #f5f5f5;
              border-color: #e8e8e8;
              color: rgba(52, 58, 64, .8);
            }
  
            .input-group-append {
               margin-left: -1px;
               display: flex;
  
               .btn {
                 padding: .25rem .5rem;
                 font-size: .875rem;
                 line-height: 1.5;
                 border-radius: 0;
                 margin-left: -1px;
               }
  
               .btn-navbar {
                 background-color: #f5f5f5;
                 border-color: #e8e8e8;
                 color: rgba(52, 58, 64, .8);
                 border-left-width: 0;
               }
             }
          }
        }
      }
    }
  
    .content-wrapper {
      transition: margin-left .3s ease-in-out;
      margin-left: 250px;
    }
  }
  
  aside, section {
    display: block;
  }
  
  .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: absolute;
    top: 0;
    background-color: #000000eb;
    height: 100vh;
    overflow-y: hidden;
    z-index: 11;
    transition: margin-left .3s ease-in-out, width .3s ease-in-out;
    width: 250px;
  
    .brand-link {
      border-bottom: 1px solid #4b545c;
      display: block;
      font-size: 1.25rem;
      line-height: 1.5;
      padding: .25rem .5rem;
      transition: width .3s ease-in-out;
      white-space: nowrap;
  
      img {
        width: 180px;
      }
    }
  
    .sidebar {
      height: calc(100% - (3.5rem + 1px));
      overflow-x: hidden;
      overflow-y: initial;
      padding-bottom: 0;
      padding-left: .5rem;
      padding-right: .5rem;
      padding-top: .5rem;
      scrollbar-color: #a9a9a9 transparent;
      scrollbar-width: none;
    }
  
  
  
  }
  
  .elevation-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22) !important;
  }
















  nav {
    display: block;
  
    .nav-sidebar {
      position: relative;
  
      .nav-link {
        position: relative;
        padding: 1.25rem 0.5rem;
  
        .nav-icon {
          margin-left: .05rem;
          font-size: 1.2rem;
          margin-right: .2rem;
          text-align: center;
          width: 1.6rem;
          float: left;
        }
      }
  
      .nav-link:focus {
        background-color: rgba(255, 255, 255, .1);
        color: #fff;
      }
  
      .nav-link:hover {
        color: #fff;
      }
  
      a {
        color: #c2c7d0;
      }
    }
  
    .p-divider {
      border: 1px solid #a6a0a0e0;
      margin: 0.5rem 0;
    }

  }

  .main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto; /* Để thanh cuộn hiển thị trong sidebar nếu nội dung quá dài */
}