<div class="main-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-ft">
          <div class="footer-col">
            <h4 class="footer-title">
              <span>GIỚI THIỆU</span>
            </h4>
            <div class="footer-content">
              <p>
                DellOnline Trang mua sắm trực tuyến của thương hiệu máy tính DELL, giúp bạn tiếp cận xu hướng công nghệ mới nhất.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2 col-ft">
          <div class="footer-col">
            <h4 class="footer-title">
              <span>CHÍNH SÁCH</span>
            </h4>
            <div class="footer-content">
              <ul class="list-unstyled">
                <li class="item">
                  <a href="" title="Chính sách giao hàng thanh toán" class="text-decoration-none text-dark">Chính sách giao hàng thanh toán</a>
                </li>
                <li class="item">
                  <a href="" title="Chính sách bảo hành" class="text-decoration-none text-dark">Chính sách bảo hành</a>
                </li>
                <li class="item">
                  <a href="" title="Chính sách bảo mật thông tin" class="text-decoration-none text-dark">Chính sách bảo mật thông tin</a>
                </li>
                <li class="item">
                  <a href="" title="Chính sách giải quyết khiếu nại" class="text-decoration-none text-dark">Chính sách giải quyết khiếu nại</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-ft">
          <div class="footer-col">
            <h4 class="footer-title">
              <span>THÔNG TIN</span>
            </h4>
            <div class="footer-content">
              <ul class="list-unstyled">
                <li class="item">
                  <a href="" title="Điều khoản chung Sàn TMĐT" class="text-decoration-none text-dark">Điều khoản chung Sàn TMĐT</a>
                </li>
                <li class="item">
                  <a href="" title="Hướng dẫn mua hàng" class="text-decoration-none text-dark">Hướng dẫn mua hàng</a>
                </li>
                <li class="item">
                  <a href="" title="Điều khoản dịch vụ" class="text-decoration-none text-dark">Điều khoản dịch vụ</a>
                </li>
                <li class="item">
                  <a href="" title="Danh sách đại lý ủy quyền của Dell Việt Nam" class="text-decoration-none text-dark">Danh sách đại lý ủy quyền của Dell Việt Nam</a>
                </li>
  
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-ft">
          <div class="footer-col">
            <h4 class="footer-title">
              <span>KẾT NỐI VỚI DELL ONLINE</span>
            </h4>
            <div class="footer-content">
              <ul class="" class="list-unstyled">
                <li class="item">
                  <a href="" target="_blank" class="text-decoration-none text-dark">Facebook</a>
                </li>
                <li class="item">
                  <a href="" target="_blank" class="text-decoration-none text-dark">Youtube</a>
                </li>
                <li class="item">
                  <a href="" target="_blank" class="text-decoration-none text-dark">Zalo</a>
                </li>
                <li class="item">
                  <a href="" target="_blank"></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="copyright">
        <div class="bottom-footer-left">
          <div class="bottom-footer-desc">
            <p>
              <strong>Dịch vụ được cung cấp bởi Công Ty TNHH Một thành viên Kết Nối &amp; Sự Kiện Việt
                <strong> <br>
                  <strong>MST: 0315177963 do Sở Kế hoạch và Đầu tư Tp HCM cấp ngày 20/07/2018
                  </strong> <br>
                  <strong>Địa chỉ: 28B Đặng Tất, Phường Tân Định, Quận 1, Thành phố Hồ Chí Minh
                  </strong> <br>
                  <strong>Điện thoại: 1800 28 28 48
                  </strong> <br>
                  <strong>Email: info@vconline.vn
                  </strong>
                </strong>
              </strong>
            </p>
            <strong>
              <strong>
                <p>
                  Copyright © 2024
                  <a href="">
                    <strong> DellOnline</strong>
                  </a>.
                  <a href="">Powered by Haravan Enterprise</a>
                </p>
              </strong>
            </strong>
          </div>
        </div>
        <strong>
          <strong>
            <div class="bottom-footer-mid">
              <a href="" class="logo-footer fade-box" target="_blank">
                <img data-src="//theme.hstatic.net/200000019898/1000906718/14/logo-bct.png?v=1900" alt="Bộ Công Thương" class=" ls-is-cached lazyloaded" src="//theme.hstatic.net/200000019898/1000906718/14/logo-bct.png?v=1900">
              </a>
            </div>
            <div class="bottom-footer-right">
              <div class="footer-bottom-cerf">
                <svg width="15" height="16" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1H16.1763V6.9066C16.078 11.3593 13.0821 15.3576 8.61269 17.0387C4.09419 15.3576 1.09823 11.3593 1 6.9066V1Z" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M5.32202 7.4972L8.0233 9.99615L12.8856 5.49805" stroke="#222222" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span>100% hàng chính hãng</span>
              </div>
            </div>
          </strong>
        </strong>
      </div>
    </div>
  </div>