<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
  
      <li class="nav-item">
        <a routerLink="home" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt me-2"></i>
            Dashboard
        </a>
      </li>
      <div class="p-divider"></div>
  
      <li class="nav-item">
        <a routerLink="items" class="nav-link">
          <i class="nav-icon fas fa-chart-line me-2"></i>
            Quản lý sản phẩm
        </a>
      </li>
      <div class="p-divider"></div>
  
      <li class="nav-item">
        <a routerLink="oders" class="nav-link">
          <i class="nav-icon fas fa-chart-line me-2"></i>
            Quản lý đơn hàng
        </a>
      </li>
      <div class="p-divider"></div>
  
      <li class="nav-item">
        <a routerLink=comments class="nav-link">
          <i class="nav-icon fas fa-user"></i>
            Quản lý bình luận
        </a>
      </li>
      <div class="p-divider"></div>
  
      <li class="nav-item">
        <a routerLink=users class="nav-link">
          <i class="nav-icon fas fa-user"></i>
          Quản lý tài khoản người dùng
        </a>
      </li>
      <div class="p-divider"></div>
  
      <li class="nav-item">
        <a routerLink=employees class="nav-link">
          <i class="nav-icon fas fa-user"></i>
          Quản lý nhân viên
        </a>
      </li>
    </ul>
  </nav>